* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

:root {
  --bg: #ffffff;
  --text: #111111;
  --card-bg: #f3f3f3;
  --primary: #007bff;
}

.dark {
  --bg: #121212;
  --text: #ffffff;
  --card-bg: #1e1e1e;
  --primary: #61dafb;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
